 #channel
{
    background-color: #742C64;
    width: 20%;
    height: 100%;
    border: 2px solid black;
     position: fixed;  
    
} 

#search 
{
    width: 79%;
    height: 5%;
    
     position: fixed; 
    border: 2px solid #dcdcdc;
    margin-left: 20%;
    
} 

#search input
{
    float: right;
    width: 15%;
    height: 80%;
}
#message
{
    width: 80%;
    height: 80%;
    position: fixed;
    border: 2px solid #dcdcdc;
    margin-left: 20%;
    margin-top: 3.0%;
    overflow: auto;
}

/*
input
{
    width: 35%;
    height: 4%;
    font-size: 17px;
    border: 1px solid gray;
} 
button{
    width: 30%;
    height: 5%;
    font-size: 12px;
}


#message
{
    width: 80%;
    height: 80%;
    position: fixed;
    border: 2px solid red;
    margin-left: 20%;
    margin-top: 3.0%;
}
 
/* #type input
{
    width: 70%;
    height: 15%;
    margin-top: 45%;
    border: 2px solid darkmagenta;
    margin-left: 20%;   
} 
#type button
{
    width: 30%;
    height: 4%;
    font-size: 12px; 
} */ 
